<app-header></app-header>
<div class="search-form card">
  <div class="card-body">
  <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <div *ngIf="this.formError">

      <alert type="danger">
       Please enter a city name
      </alert>

    </div>
    <div class="form-group input-group">

      <label class="col-sm-2"></label>
      <div class="col-sm-7">
        <input id="city" placeholder="Enter a city name" formControlName="cityName" name="city" type="text" class="form-control"
               [ngClass]="{'is-invalid': cityForm.get('cityName').touched && cityForm.get('cityName').invalid}"
        />

        <div class="invalid-feedback">
          <div>City Name is required</div>
        </div>

      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary search" [disabled]="cityForm.get('cityName').invalid" type="submit">Search</button>
      </div>

    </div>

  </form>
</div>
</div>
<app-search-result  *ngIf="this.processedResult" [searchData]="this.processedResult" ></app-search-result>
<div *ngIf="this.loading" class="d-flex justify-content-center">
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>
