<div class="container">

  <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" >

    <div class="form-group">

      <label class="col-sm-2 ">Enter city name</label>
      <div class="col-sm-8">
        <input id="city" formControlName="cityName" name="city" type="text" class="form-control"
               [ngClass]="{'is-invalid': cityForm.get('cityName').touched && cityForm.get('cityName').invalid}"
        />

        <div class="invalid-feedback">
          <div >City Name is required</div>
        </div>

      </div>

    </div>
    <div class="form-group">

      <label class="col-sm-2 "></label>
      <div class="col-sm-8" align="right">
        <button class="btn btn-primary search" type="submit">Search</button>

      </div>

    </div>
  </form>
</div>

<app-search-result *ngIf="this.processedResult" [searchData]="this.processedResult" ></app-search-result>

<div *ngIf="this.loading" class="d-flex justify-content-center">
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>

</div>
